<button class="close text-right" mat-button mat-dialog-close>
    <i class="material-icons">close</i>
</button>
<h2 mat-dialog-title>Thông tin thanh toán</h2>
<mat-dialog-content>
    <div class="card">
        <div class="card-body">
            <h3><strong>Thông tin khách hàng</strong></h3>
            <p><strong>Tên khách hàng:</strong> {{customer?.name}} {{walkInGuest}}</p>
            <p><strong>Email:</strong> {{customer?.email}}</p>
            <p><strong>Số điện thoại</strong> {{customer?.phone}}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3><strong>Dịch vụ sử dụng</strong></h3>
            <table class="table mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Dịch vụ</th>
                        <th scope="col">Giá tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let service of services">
                        <td>{{service.name}}</td>
                        <td>{{service.price | currency: 'VND'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tổng tiền</th>
                        <th scope="row">{{services | totalServicePrice | currency: 'VND'}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button *ngIf="status != 'WAITING'" mat-button (click)="printPdf()" class="btn btn-primary" mat-button mat-dialog-close="true" cdkFocusInitial>In hóa đơn</button>
</mat-dialog-actions>