<button class="close text-right" mat-button mat-dialog-close>
  <i class="material-icons">close</i>
</button>
<h2 mat-dialog-title>{{dialogTitle}}</h2>
<mat-dialog-content>
    <div *ngIf="errorMessage" class="alert alert-danger">
        {{errorMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="productForm">
        <div class="row ">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Loại sản phẩm</label>
                    <input type="text" placeholder="Chọn loại sản phẩm" matInput [matAutocomplete]="auto" class="form-control" formControlName="productType">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredProductType | async" [value]="option">
                            {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <div class="form-group">
                    <label>Tên sản phẩm</label>
                    <input type="text" class="form-control" placeholder="Nhập tên sản phẩm" formControlName="name" />
                </div>
                <div class="form-group">
                    <label>Giá tiền</label>
                    <input type="text" class="form-control" placeholder="Nhập giá tiền" formControlName="price">
                </div>
                <div class="form-group">
                    <label>Mô tả</label>
                    <input type="text" class="form-control" placeholder="Nhập mô tả" formControlName="description">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Hình sản phẩm</label>
                    <app-upload-image isImageUrl="{{data.imageUrl}}" (imageUrl)="getImageUrl($event)" folderImage="product/"></app-upload-image>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="saveProduct()" class="btn btn-primary" cdkFocusInitial>Lưu</button>
</mat-dialog-actions>
