<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Edit Profile</h4>
                <p class="card-category">Complete your profile</p>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="form group col-md-5">
                            <label>Company</label>
                            <input class="form-control" matInput placeholder="Company (disabled)">
                        </div>
                        <div class="form group  col-md-3">
                            <label>Username</label>
                            <input class="form-control" placeholder="Username">
                        </div>
                    </div>
                    <div class="text-right">
                        <button mat-raised-button type="submit" class="btn btn-primary">Update Profile</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>