<div class="card">
    <div class="card-header card-header-primary row">
        <div class="col-md-6">
            <h4 class="card-title ">Danh sách các Salon</h4>
        </div>
        <div class="col-md-6 text-right">
            <a (click)="openDialog(-1)" data-toggle="tooltip" title="Thêm mới" class="btn btn-success btn-round btn-just-icon">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead class=" text-primary">
                    <th>ID</th>
                    <th>Hình ảnh</th>
                    <th>Địa chỉ</th>
                    <th>Người quản lí</th>
                    <th></th>
                </thead>
                <tbody>
                    <ng-container *ngFor="let salon of salons">
                        <tr>
                            <td>{{salon.id}}</td>
                            <td style="max-width: 70px !important; min-width: 70px!important;">
                                <img *ngIf="salon.image" class="img-fluid" [src]="salon.image" alt="salon.id">
                                <img *ngIf="!salon.image" class="img-fluid" src="../../assets/images/NoImage.png" alt="salon.id">
                            </td>
                            <td>{{salon.address}}</td>
                            <td>{{salon.manager}}</td>
                            <td><a href="javascript:void(0)" (click)="openDialog(salon)"><i class="material-icons">edit</i></a></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <app-pagination [page]="page" (newPage)="pageChange($event)"></app-pagination>
    </div>
</div>
