<div>
    <div class="container-fluid">
        <div class="card" style="background-color: transparent !important;">
            <div class="card-header-primary">
                <div class="row">
                    <div class="col-lg-2 d-flex align-items-center" style="font-size: 16px !important; font-weight: 400 !important">
                        Thống kê theo
                    </div>

                    <div class="col-lg-4 d-flex align-items-center form-group row">
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Địa chỉ salon" matInput [matAutocomplete]="auto2" [formControl]="salonCtrl">
                        </div>
                        <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSalonChange($event.option.value.id)">
                            <mat-option *ngFor="let option of filteredSalons | async" [value]="option">
                                <img *ngIf="!option.image" class="example-option-img" aria-hidden src="../../assets/images/NoImage.png" height="25">
                                <img *ngIf="option.image" class="example-option-img" aria-hidden [src]="option.image" height="25">
                                <small> {{option.street}}, {{option.district}}, {{option.province}} </small>
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                    <div class="col-lg-6 text-right">
                        <div class="btn-group" role="group">
                            <input type="date" class="form-control" [(ngModel)]="currDate" (change)="searchDateChange()">
                            <button type="button" (click)="switchDate(0)" [className]="date ? 'btn btn-sm btn-primary' : 'btn btn-sm btn-secondary'">Ngày</button>
                            <button type="button" (click)="switchDate(1)" [className]="monthYear ? 'btn btn-sm btn-primary' : 'btn btn-sm btn-secondary'">Tháng</button>
                            <button type="button" (click)="switchDate(2)" [className]="year ? 'btn btn-sm btn-primary' : 'btn btn-sm btn-secondary'">Năm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">local_atm</i>
                        </div>
                        <p class="card-category">Doanh thu</p>
                        <h3 class="card-title">{{revenue | currency: 'VND'}}</h3>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="stats">
                            <i class="material-icons">date_range</i> 24 giờ qua
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Lượt khách</p>
                        <h3 class="card-title">{{customers}}</h3>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="stats">
                            <i class="material-icons">date_range</i> 24 giờ qua
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">receipt_long</i>
                        </div>
                        <p class="card-category">Đơn hàng đã giao</p>
                        <h3 class="card-title">{{completedOrders}}</h3>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="stats">
                            <i class="material-icons">date_range</i> 24 giờ qua
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">notifications</i>
                        </div>
                        <p class="card-category">Đơn hàng mới</p>
                        <h3 class="card-title">+{{newOrders}}</h3>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="stats">
                            <i class="material-icons">date_range</i> 24 giờ qua
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Doanh thu từ dịch vụ trong {{title}}</h4>
                        <p class="card-category">
                            <!-- <span class="text-white"><i class="fa fa-long-arrow-up"></i> 55% </span> tăng so với tuần trước</p> -->

                    </div>
                    <div class="card-body">
                        <kendo-chart>
                            <kendo-chart-title></kendo-chart-title>
                            <kendo-chart-category-axis>
                                <kendo-chart-category-axis-item [categories]="categories" [title]="{ text: '' }">
                                </kendo-chart-category-axis-item>
                            </kendo-chart-category-axis>
                            <kendo-chart-legend position="bottom" orientation="horizontal">
                            </kendo-chart-legend>
                            <kendo-chart-series>
                                <kendo-chart-series-item type="column" name="Doanh thu" [data]="series">
                                    <kendo-chart-series-item-tooltip format="Tổng tiền: {0}">
                                    </kendo-chart-series-item-tooltip>
                                </kendo-chart-series-item>
                                <kendo-chart-series-item type="line" name="Lũy kế" [data]="seriesSum">
                                    <kendo-chart-series-item-tooltip format="Tổng tiền: {0}">
                                    </kendo-chart-series-item-tooltip>
                                </kendo-chart-series-item>
                            </kendo-chart-series>
                        </kendo-chart>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Doanh thu từng salon trong {{title}}</h4>
                        <p class="card-category">
                            <!-- <span class="text-white"><i class="fa fa-long-arrow-up"></i> 55% </span> tăng so với tuần trước</p> -->

                    </div>
                    <div class="card-body">
                        <kendo-chart>
                            <kendo-chart-title></kendo-chart-title>
                            <kendo-chart-category-axis>
                                <kendo-chart-category-axis-item [categories]="salonCat" [title]="{ text: '' }">
                                    <kendo-chart-category-axis-item-labels [rotation]="-55">
                                    </kendo-chart-category-axis-item-labels>
                                </kendo-chart-category-axis-item>
                            </kendo-chart-category-axis>
                            <kendo-chart-legend position="bottom" orientation="horizontal">
                            </kendo-chart-legend>
                            <kendo-chart-series>
                                <kendo-chart-series-item type="column" name="Doanh thu" [data]="seriesSalon">
                                    <kendo-chart-series-item-tooltip format="Tổng tiền: {0}">
                                    </kendo-chart-series-item-tooltip>
                                </kendo-chart-series-item>
                            </kendo-chart-series>
                        </kendo-chart>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-12" *ngIf="false">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Top dịch vụ được đặt nhiều nhất</h4>
                        <p class="card-category">
                            <!-- <span class="text-white"><i class="fa fa-long-arrow-up"></i> TOP 1: </span> Shine combo (20 lượt đặt)</p> -->
                    </div>
                    <div class="card-body">
                        <kendo-chart>
                            <kendo-chart-series>
                                <kendo-chart-series-item [autoFit]="true" type="pie" [data]="data" categoryField="kind" field="share">
                                    <kendo-chart-series-item-labels position="outsideEnd" color="#000" [content]="labelContent">
                                    </kendo-chart-series-item-labels>
                                </kendo-chart-series-item>
                            </kendo-chart-series>
                            <kendo-chart-legend [visible]="true"></kendo-chart-legend>
                        </kendo-chart>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Doanh thu từ bán hàng trong {{title}}</h4>
                        <p class="card-category">
                            <!-- <span class="text-white"><i class="fa fa-long-arrow-up"></i> 55% </span> tăng so với tuần trước</p> -->

                    </div>
                    <div class="card-body">
                        <kendo-chart>
                            <kendo-chart-title text="Số đơn hàng trong tuần"></kendo-chart-title>
                            <kendo-chart-category-axis>
                                <kendo-chart-category-axis-item [categories]="categories" [title]="{ text: '' }">
                                </kendo-chart-category-axis-item>
                            </kendo-chart-category-axis>
                            <kendo-chart-legend position="bottom" orientation="horizontal">
                            </kendo-chart-legend>
                            <kendo-chart-series>
                                <kendo-chart-series-item type="column" name="Doanh thu" [data]="series1">
                                    <kendo-chart-series-item-tooltip format="Tổng tiền: {0}">
                                    </kendo-chart-series-item-tooltip>
                                </kendo-chart-series-item>
                                <kendo-chart-series-item type="line" name="Lũy kế" [data]="series1Sum">
                                    <kendo-chart-series-item-tooltip format="Tổng tiền: {0}">
                                    </kendo-chart-series-item-tooltip>
                                </kendo-chart-series-item>
                            </kendo-chart-series>
                        </kendo-chart>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-12" *ngIf="false">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Top sản phẩm được đặt nhiều nhất</h4>
                        <p class="card-category">
                            <!-- <span class="text-white"><i class="fa fa-long-arrow-up"></i> TOP 1: </span> Sáp Reuzel Red Pomade (10 lượt đặt)</p> -->
                    </div>
                    <div class="card-body">
                        <kendo-chart>
                            <kendo-chart-series>
                                <kendo-chart-series-item [autoFit]="true" type="pie" [data]="data1" categoryField="kind" field="share">
                                    <kendo-chart-series-item-labels position="outsideEnd" color="#000" [content]="labelContent">
                                    </kendo-chart-series-item-labels>
                                </kendo-chart-series-item>
                            </kendo-chart-series>
                            <kendo-chart-legend [visible]="true"></kendo-chart-legend>
                        </kendo-chart>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>