<div>
    <kendo-scheduler [kendoSchedulerBinding]="events" [selectedDate]="selectedDate" style="height: 600px;" today="Hôm nay" allDay="Giờ làm" dayViewTitle="Ngày" weekViewTitle="Tuần" monthViewTitle="Tháng" showWorkDay="Hiển thị giờ làm việc" showFullDay="Hiển thị toàn thời gian">
        <kendo-scheduler-day-view [startTime]="startTime">
        </kendo-scheduler-day-view>

        <!-- <kendo-scheduler-week-view [startTime]="startTime">
        </kendo-scheduler-week-view> -->

        <!-- <kendo-scheduler-month-view> </kendo-scheduler-month-view> -->

        <kendo-scheduler-timeline-view> </kendo-scheduler-timeline-view>

        <kendo-scheduler-agenda-view> </kendo-scheduler-agenda-view>
    </kendo-scheduler>
</div>