<div class="card">
    <div class="card-header card-header-primary row">
        <div class="col-md-10">
            <h3 class="card-title ">Danh sách đặt lịch</h3>
            <div class="card-title ">
                <div class="row">
                    <div class="col-md-6 form-group row">
                        <h4 class="col-sm-3 text-white text-md-right">Từ ngày</h4>
                        <div class="col-sm-9">
                            <input type="datetime-local" class="form-control" [(ngModel)]="fromDate" (change)="getBookingPage()" />
                        </div>
                    </div>
                    <div class="col-md-6 form-group row">
                        <h4 class="col-sm-3 text-white text-md-right">Salon</h4>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Địa chỉ salon" matInput [matAutocomplete]="auto2" [formControl]="salonId">
                        </div>
                        <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSalonChange($event.option.value.id)">
                            <mat-option *ngFor="let option of filteredSalons | async" [value]="option">
                                {{option.street}}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 text-right">
            <a data-toggle="tooltip" title="Thêm mới" class="btn btn-success btn-round btn-just-icon">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead class=" text-primary">
                    <th>Salon</th>
                    <th>Thời gian</th>
                    <th>Khách hàng</th>
                    <th>Stylist</th>
                    <th>Dịch vụ</th>
                    <th>Tổng tiền</th>
                    <th>Trạng thái</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngIf="bookings.length === 0">
                        <td colspan="8">
                            <div class="alert alert-secondary" role="alert">Không có dữ liệu phù hợp...</div>
                        </td>
                    </tr>
                    <ng-container *ngFor="let booking of bookings">
                        <tr>
                            <td data-toggle="tooltip" data-placement="top" [title]="booking.salon | salonAddress">
                                <a class="text-info font-weight-bold" [routerLink]="'salon/' + booking.salon.id">Salon_{{booking.salon.id}}</a>
                            </td>
                            <td>{{booking.dateTime | date: "short"}}</td>
                            <td>{{booking.customer.name}}</td>
                            <td>{{booking.stylist}}</td>
                            <td>
                                <ng-container *ngFor="let item of booking.services">
                                    <p>&#9679; {{item.name}} ({{item.price | currency: "VND"}})</p>
                                </ng-container>
                            </td>
                            <td>{{booking.services | totalServicePrice | currency: "VND"}}</td>
                            <td [ngSwitch]="booking.bookingStatus">
                                <span *ngSwitchCase="'DONE'" class="badge badge-success">Hoàn thành</span>
                                <span *ngSwitchCase="'CANCEL'" class="badge badge-danger">Đã hủy</span>
                                <span *ngSwitchCase="'WAITING'" class="badge badge-warning">Đang đợi</span>
                                <span *ngSwitchCase="'IN_PROGRESS'" class="badge badge-info">Đang thực hiện</span>
                            </td>
                            <td><a class="btn btn-outline-danger btn-just-icon" data-toggle="tooltip" data-placement="top" title="Thanh toán"><i class="material-icons text-lg">attach_money</i></a></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <app-pagination *ngIf="bookings.length > 0" [page]="page" (newPage)="pageChange($event)"></app-pagination>
    </div>
</div>